tail786c87.ts.net {

    handle /pihole* {
        reverse_proxy 127.0.0.1:8081
    }

    handle /glances* {
        reverse_proxy 127.0.0.1:61208
    }

    handle /netdata* {
        reverse_proxy 127.0.0.1:19999
    }

    handle /jellyfin* {
        reverse_proxy 127.0.0.1:8096
    }
}
